.heading {
  text-decoration: line-through;
}

.container {
  padding-top: 30px;
  background: #f9fafc;
  width: 400px;
  height: 100vh;
}

.root {
  padding-left: 10%;
  height: 35px;
  line-height: 35px;
  font-family: Lato, sans-serif;
  color: #afb2b6;
  letter-spacing: 0;
  cursor: pointer;
}

.root:hover {
  background: #eeeff1;
}
